<style>
th,td{
padding: 10px;
}
th{
text-align:right;
}
</style>

<h1> Create or Update Deplacement:</h1>
{
{ form-start(form)}
}

<table>
<tbody>
<tr> 
<th> Nom:</th>
<td>{{form_widget(form.nom)}}</td>
</tr>
<tr>
<th> Prenom:</th>
<td>{{form_widget(form.prenom)}}</td>
</tr>
<tr>
<th> Email: </th>
<td>{{ form_widget(form.email)}}</td>
</tr>
<tr>
<th> Date Depart :</th>
<td>{{form_widget(form.dateDepart)}}</td>
</tr>
<tr>
<th> Date Retour:</th>
<td>{{form_widget(form.dateRetour)}}</td>
</tr>
<tr>
<th> Heure Depart:</th>
<td>{{form_widget(form.heureDepart)}}</td>
</tr>
<tr>
<th> Heure Retour: </th>
<td>{{form_widget(form.heureRetour)}}</td>
</tr>
<tr>
<th></th>
<td>{{form_widget(form.save)}}</td>
</tr>
</tbody>
</table>
{{form_end(form)}}

