<style>
th,td{
padding: 10px;
}

th{
text-align:left;
}
</style>

<h1> All Deplacements</h1>
{% id deplacements is not empty %}
<table>
<thead>
<tr>
<th> Nom </th>
<th> Prenom</th>
<th> Email </th>
<th> Date Depart</th> 
<th> Date Retour </th>
<th> Heure Depart </th>
<th> Heure Retour </th>
<th> Delete </th>
<th> Update </th>
</tr>
</thead>
<tbody>
{% for deplacement in deplacements%}
<tr>
<td>{{ deplacement.nom}}</td>
<td>{{ deplacement.prenom}}</td>
<td>{{ deplacement.email}}</td>
<td>{{ deplacement.dateDepart}}</td>
<td>{{ deplacement.dateRetour}}</td>
<td>{{ deplacement.heureDepart}}</td>
<td>{{ deplacement.heureRetour}}</td>
</table>
<a href="/create-deplacement">Nouveau</a>

