<style>
th,td{
padding: 10px;
}
th{
text-align:right;
}
</style>
<h1>Deplacement Created or Modified</h1>

<table>
<tbody>
<tr><th>Nom:</th>
<td>{{deplacement.nom}}</td>
</tr>
<tr>
<th>Prenom:</th>
<td>{{deplacement.prenom}}</td>
</tr>
<tr>
<th> Email: </th>
<td>{{deplacement.email}}</td>
</tr>
<tr>
<th> Date Depart :</th>
<td>{{deplacement.dateDepart}}</td>
</tr>
<tr>
<th> Date Retour:</th>
<td>{{deplacement.dateRetour}}</td>
</tr>
<tr>
<th> Heure Depart:</th>
<td>{{deplacement.heureDepart}}</td>
</tr>
<tr>
<th> Heure Retour: </th>
<td>{{deplacement.heureRetour}}</td>
</tr>

</tbody>
</table>
<br/>
<a href="/show-deplacement">View All</a> - <a href="/update-deplacement/{{deplacement.idDeplacement}}"Modify</a>

